@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">

    <img src="img/header.jpg" class="img-fluid" alt="Responsive image">

</div>
<div class = "container">
    <div class = "row">
    <div class = "col-6">
        This is awesome website for warehouse management This is awesome website for warehouse managementThis is awesome website for warehouse management
        This is awesome website for warehouse management
    </div>
    <div class = "col-6">
        <img src="img/worker.jpg" alt="..." class="img-thumbnail">
    </div>
</div>
<div class = "row">
    <div class = "col-6">
        <img src="img/10893.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class = "col-6">
        This is awesome website for warehouse management This is awesome website for warehouse managementThis is awesome website for warehouse management
        This is awesome website for warehouse management
    </div>
</div>
<div class = "container">
    <div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>